@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#mainhtml{
    background-color:rgb(5, 5, 65);
}

.container{
    max-width: 1240px !important;
    margin: 0 auto;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin-top: 80px !important;
    align-items: center;
    justify-content: center;
}

li{
    transition: all 0.4s ease;
    color:black;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;

background-color: #ffffff76;
}

li:hover{
    background-color: #ffffffa9;
}

/* form{
    text-align: center;
    align-items: start;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
} */